nav{
    background-color: #f6f8f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul{
        display: flex;  
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            font-size: 1em;
            font-weight: bold;
            a{
                color: #a1a3a4;
                padding: 14px 16px;
                text-decoration: none;
            }
            .active{
                color: #5a5c5e;
            }
            :hover{
                background-color: #FA6980;
                color:white;
                text-decoration: none;
            }
        }
    }
    .logo{
        width: 50px;
        height: 50px;
    }
}